<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Dashboard</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/home">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Manager
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-user"></i>
            <span>User</span>
        </a>
        <div id="collapseUser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom User Manager:</h6>
                <a class="collapse-item" href="/users/addUser">Add User</a>
                <a class="collapse-item" href="/users/listAllUser">List User</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#listAllCourse"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-book"></i>
            <span>Device</span>
        </a>
        <div id="listAllCourse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom device Manager:</h6>
                <a class="collapse-item" href="/deviceManger/home" >Device management</a>
                <a class="collapse-item" href="/borrowRepay/home">Borrow/Repay</a>
                <a class="collapse-item" href="/deviceToRoom/home">Devices by room</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBlog"
            aria-expanded="true" aria-controls="collapseBlog">
            <i class="fas fa-fw fa-images"></i>
            <span>Reward</span>
        </a>
        <div id="collapseBlog" class="collapse" aria-labelledby="headingBlog" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom reward Manager:</h6>
                <a class="collapse-item" href="/reward/home" >Gift management</a>
                <a class="collapse-item" href="/reward/listRequestReward" >List request form</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Statistics
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/statistic/user">
            <i class="fas fa-fw fa-user"></i>
            <span>Users</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/statistic/device">
            <i class="fas fa-fw fa-book"></i>
            <span>Device</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/statistic/reward">
            <i class="fas fa-fw fa-signal"></i>
            <span>Reward</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="/admin/user/profile">
            <i class="fas fa-fw fa-user"></i>
            <span>Profile</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" onclick="handleLogout()">
            <i class="fas fa-fw fa-cogs"></i>
            <span>Log out</span></a>
            <script>
                function handleLogout() {
                    Swal.fire({
                        title: 'Bạn muốn đăng xuất?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Đồng ý',
                        cancelButtonText: 'Hủy',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            sessionStorage.removeItem('hasLoggedIn');
                            fetch('/admin/logout', { method: 'POST' })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.message === 'Logged out successfully.') { 
                                        window.location.href = '/admin';
                                    } else {
                                        Swal.fire('Lỗi', 'Đăng xuất thất bại', 'error');
                                    }
                                })
                                .catch(error => {
                                    console.error('Error:', error);
                                    Swal.fire('Lỗi', 'Đăng xuất thất bại', 'error');
                                });
                        }
                    });
                }
            </script>
    </li>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>

<script>
    function DangPhatTrien() {
        Swal.fire({
            title: 'Tính năng đang phát triển!',
            text: 'Huệ Trung sẽ sớm cập nhật tính năng này.',
            icon: 'info',
            confirmButtonText: 'Đóng'
        });
        return false; // Ngăn form submit hoặc hành động mặc định
    }
</script>